# Compiled object files
*.o
*.obj

# Compiled executables
*.exe
*.out

# Build directories
build/
bin/

# Data
data/grids/*.bin
data/results/*.csv
data/results/randomized/*.csv
data/results/divideAndConquer/*.csv
data/results/HashingFunction/*.csv

# python venv
report/venv/
