# Compiled object files
*.o
*.obj

# Compiled executables
*.exe
*.out

# Build directories
build/
bin/

# Data
data/arrays/*
data/mergeSortResults/*.csv
data/radixSortResults/*.csv

# python venv
report/venv/
